@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: black;
  font-family: 'League Spartan', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(254, 255, 175, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(254, 255, 175, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(254, 255, 175, 0.4);
}